<section class="about">
  <h1>Rólam</h1>
  <p>
    36 éves sárvári születésű ambiciózus vidám fiatalember vagyok tele ötlettel és tervekkel. Mivel részlegesen mozgássérült vagyok, ami
    némi beszédhibával is társul, kormányszóvivő és műsorvezető sem lehetek, (nem mintha érdekelne :) ) így 9 éves korom óta érdekel az
    informatika. Mások szerint kiváló kommunikációs kézséggel rendelkezem, amit gép mögé ülve szeretnék kamatoztatni jó csapatjátékosként.
  </p>
  <p>
    Úgy gondolom, hogy az évek során sikerült elegendő tapasztalatot szereznem ahhoz, hogy a minden akadályt az Önök cégénél is leküzdjek és
    így én is hozzájárulhatok a csapat sikerereihez.
  </p>
  <h2>Tapasztalatok</h2>
  <div class="experiences">
    <div class="row">
      <div class="col-xl-6">
        <div class="container">
          <i class="icon icon-design"></i>
          <div class="text-wrapper">
            <h3>WEB DESIGN</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nulla ut recusandae, perferendis ab nam repellat praesentium
              quisquam aut rerum aspernatur cum, voluptate enim repellendus nisi eveniet natus? Obcaecati, explicabo.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="container">
          <i class="icon icon-design"></i>
          <div class="text-wrapper">
            <h3>WEB DESIGN</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nulla ut recusandae, perferendis ab nam repellat praesentium
              quisquam aut rerum aspernatur cum, voluptate enim repellendus nisi eveniet natus? Obcaecati, explicabo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
