<section class="about">
  <h1>Rólam</h1>
  <p>
    36 éves sárvári születésű ambiciózus vidám fiatalember vagyok tele ötlettel és tervekkel. Mivel részlegesen mozgássérült vagyok, ami
    némi beszédhibával is társul, kormányszóvivő és műsorvezető sem lehetek, (nem mintha érdekelne :) ) így 9 éves korom óta érdekel az
    informatika. Mások szerint kiváló kommunikációs kézséggel rendelkezem, amit gép mögé ülve szeretnék kamatoztatni jó csapatjátékosként.
  </p>
  <p>
    Úgy gondolom, hogy az évek során sikerült elegendő tapasztalatot szereznem ahhoz, hogy minden akadályt az Önök cégénél is leküzdjek és
    így én is hozzájárulhatok a csapat sikerereihez.
  </p>

  <div class="experiences">
    <h2>HOGYAN...</h2>
    <div class="row">
      <div class="col-xl-6">
        <div class="container">
          <img src="../assets/images/icons/webcode.svg" alt="code" />
          <h3>...ÍROM A KÓDOT</h3>
          <p>
            Több olyan munkahelyem is volt, ahol többen dolgoztunk egy-egy projekten, ezért gyorsan megtanultam, hogy az átlátható könnyen
            olvasható kód nagyon fontos. Ebben nagy segítséget nyújt a Prettier. HTML5 szemantikus elemeket használok értelemszerűen, tehát
            nem feltétlenül szeretem az olyan kódot, ami tele van „szórva” csak div elemekkel. A CSS preprocerszorok közül a kedvencem az
            SCSS/SASS. A mixinek miatt és a változó alapú css kód jelentősen lerövidíti a kész kódot és a munkát.
          </p>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="container">
          <img src="../assets/images/icons/design.svg" alt="webdesign" />
          <h3>...ÉPÍTEM AZ OLDALT</h3>
          <p>
            Sitebuild az, ami igazán közel áll hozzám. Építettem anno oldalt a Photoshop slice funkciója segítségével. Nagyon sok arculatot
            kaptam Sketch formátumban. Újabban InVision és Figma grafikai terveket valósítok meg. A másik oldal sem ismeretlen számomra,
            mert az Adobe termékcsalád számos alkalmazásával készítettem már website layout-okat. Az utóbbi években a SEO szabványok miatt
            még szorosabb kommunikáció szükséges a grafikusokkal, hiszen figyelembe kell venni accessibility tényezőket. A tervezés során
            szorgalmazni szoktam a mobil firts nézőpontot.
          </p>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="container">
          <img src="../assets/images/icons/apps.svg" alt="Apps" />
          <h3>...ISMEREM A PROGRAMOKAT</h3>
          <p>
            Ennek az oldalnak a kódját Webstrom-ban írtam, de többet használtam a VS Code kód szerkesztőjét karrierem során. Legutóbb a
            taskokat Jirában tologatuk a Trendencynél. Használtam már Trellot és a Microsoft feladat kezelőjét is. <br />
            Távmunka miatt a kedvenc kommunikációs eszközöm a Teams. <br />
            Az Adobe appok közül a grafikai programokat jól ismerem. <br />Saját Macbook laptopon dolgozom, de az Easyway-nél az egységes
            ökoszisztéma miatt Windows laptopot kellett használni és elboldogultam vele. <br />
            Git kezelő esetetében rászoktattak a SourceTree-re és tetszik. GitLab felületét használtuk a legtöbbet. Nem ragaszkodom igazán
            egyik programhoz se, mert tudom mindig lesz újabb és jobb.
          </p>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="container">
          <img src="../assets/images/icons/seo.svg" alt="Apps" />
          <h3>...LÁTOM A JÖVŐT</h3>
          <p>
            Nem szerettem volna bullshit szöveggel operálni, de továbbra is szeretnék fejlődni és szívesen tanulok. Az Angular az, ami
            nagyon érdekel és minden projektnél mutat valami újat, izgalmasat. Azért tetszik ez a keretrendszer, mert sok esetben, amit
            korábban Javascript alkalmazásával nagyon sok sorral kellett megoldani, az Angular esetében elég pár sor. Sokak szerint a CSS
            nem is programnyelv, de nagyon sokat ki lehet belőle hozni, akár animáció szinten, akár egyes Javascript funkcionalitást lehet
            pótolni a segítségével. Ezért kutatom a benne rejlő lehetőségeket, mert például a Stackoverflow oldalon szinte mindent
            megcsináltak már előttünk csupán jól kell keresni az adott problémára. Igyekszem tartani a lépést a trendekkel, mert nem
            szeretnék úgy járni, mint mondjuk a jQuery.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
