<section class="about">
  <h1>Rólam</h1>
  <p>
    36 éves sárvári születésű ambiciózus vidám fiatalember vagyok tele ötlettel és tervekkel. Mivel részlegesen mozgássérült vagyok, ami
    némi beszédhibával is társul, kormányszóvivő és műsorvezető sem lehetek, (nem mintha érdekelne :) ) így 9 éves korom óta érdekel az
    informatika. Mások szerint kiváló kommunikációs kézséggel rendelkezem, amit gép mögé ülve szeretnék kamatoztatni jó csapatjátékosként.
  </p>
  <p>
    Úgy gondolom, hogy az évek során sikerült elegendő tapasztalatot szereznem ahhoz, hogy a minden akadályt az Önök cégénél is leküzdjek és
    így én is hozzájárulhatok a csapat sikerereihez.
  </p>
  <div class="what">
    <h2>Mihez értek?</h2>
  </div>
</section>
