@import 'shared';
.about {
  h2 {
    margin: 30px 0;
  }
  p {
    margin-top: 30px;
  }
  .experiences {
    gap: 10px;
    .container {
      display: flex;
      border: 2px solid $gray-3;
      border-radius: 12px;
      padding: 20px;
      @include media-breakpoint-down(xl) {
        flex-direction: column;
        padding: 10px;
      }

      .icon {
        min-width: 150px;
        min-height: 104px;
        @include media-breakpoint-down(xl) {
          min-width: 50%;
          height: auto;
          margin-bottom: 20px;
        }
      }
      .text-wrapper {
        padding-left: 20px;
        @include media-breakpoint-down(xl) {
          h3 {
            text-align: center;
          }
        }
      }
    }
  }
}
