// Typography
@import 'shared';
h1 {
  font-family: $font-lead;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: $white;
  position: relative;
  z-index: 1;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: normal;
  }
  &:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 200px;
    height: 2px;
    content: '\a0';
    background: $btn-bck;
    margin-left: 30px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
h2 {
  color: $white;
  font-family: $font-family;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: normal;
  }
}
h3 {
  font-family: $font-family;
  color: $white;
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: normal;
  }
}
h5 {
  font-family: $font-lead;
  color: $white;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  @include media-breakpoint-down(sm) {
    font-size: 23px;
    line-height: normal;
  }
}
p {
  color: $gray-1;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: normal;
  }
}
