@import 'shared';
body {
  padding: 200px 15% 60px;
  background: url('../../assets/images/background.jpg') no-repeat top;
  background-size: cover;
}
.main-site {
  display: flex;
  .right-main {
    margin-left: 40px;
    width: 100%;
    main {
      background: $black;
      border-radius: 20px;
      width: 100%;
      padding: 60px;
      position: relative;
      bottom: 30px;
    }
  }
}
