// Wrapper width
$global-wrapper-width: 1750px;

// Font Family
$font-family: 'Montserrat', sans-serif;

// Images path
$images-path: '/assets/images/';

// Colors
$primary: #82c341;
$white: #ffffff;
$grey-light: #eeeeee;
$black-full: #000000;
$black-shade: #1a1a1a;
$black-dark: #111111;
$black-border: #323232;
$border-color: #505050;
$footer-text: #747474;
