// Wrapper width
$global-wrapper-width: 1750px;

// Font Family
$font-family: 'Poppins', sans-serif;
$font-lead: 'Roboto Slab', serif;

// Images path
$images-path: '/assets/images/';

// Colors
$primary: #82c341;
$white: #ffffff;
$black: #000000;
$gray-1: #a6a6a6;
$gray-2: #1d1d1d;
$gray-3: #212425;
$line: #3d3a3a;

$btn-bck: linear-gradient(93.74deg, #f42626 0%, #80023b 100%);
$main-menu-bck-hover: linear-gradient(153.43deg, #f42626 16.67%, #80023b 100%);
