@import 'shared';
.slide-contact {
  background-color: $black;
  width: 100%;
  padding: 0 30px;
  border-radius: 20px;
  img {
    width: 240px;
    height: 240px;
    transform: translateY(-120px);
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    transition: 0.5 all;
    cursor: pointer;
  }
  .name-card {
    transform: translateY(-100px);
    h5 {
      text-align: center;
    }
    span {
      color: $gray-1;
      font-family: $font-family;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding: 5px 20px;
      gap: 10px;
      border-radius: 8px;
      background-color: $gray-2;
      display: block;
      margin: 15px auto;
      width: fit-content;
      text-align: center;
    }
    .icons {
      margin: 20px auto;
      display: flex;
      justify-content: center;
      .icon {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        transition: 0.3s opacity;
        &:hover {
          opacity: 0.85;
        }
      }
    }
  }
  .contact-card {
    padding: 30px;
    background-color: $gray-2;
    transform: translateY(-100px);
    border-radius: 16px;
    .data {
      display: flex;
      .icon {
        width: 44px;
        height: 44px;
      }
      .data-wrapper {
        font-family: $font-family;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .mini-title {
          color: $gray-1;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
        }
        .target {
          color: $white;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  hr {
    border-top: 1px solid $line;
    margin: 10px 0;
  }
  button {
    margin: 0 auto;
    display: block;
    transform: translateY(-50px);
    display: flex;
    align-items: center;
    filter: brightness(140%);
    .icon {
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }
  }
}
