<section class="slide-contact">
  <img src="https://picsum.photos/240/" alt="Salamon Szilard" />
  <div class="name-card">
    <h5>Salamon Szilárd</h5>
    <span>Sitebuilder / Frontend Developer</span>
    <div class="icons">
      <a href=""><i class="icon icon-facebook"></i></a>
      <a href=""><i class="icon icon-linkedin"></i></a>
    </div>
  </div>
  <div class="contact-card">
    <div class="data">
      <i class="icon icon-phone"></i>
      <div class="data-wrapper">
        <span class="mini-title">Telefon</span>
        <a href="tel:+36-30-657-3410"><span class="target">+36 30 657 3410</span></a>
      </div>
    </div>
    <hr />
    <div class="data">
      <i class="icon icon-email"></i>
      <div class="data-wrapper">
        <span class="mini-title">Email</span>
        <a href="mailto:salamonszilard@gmail.com"><span class="target">salamonszilard@gmail.com</span></a>
      </div>
    </div>
    <hr />
    <div class="data">
      <i class="icon icon-location"></i>
      <div class="data-wrapper">
        <span class="mini-title">Lakhely</span>
        <span class="target">Sopron</span>
      </div>
    </div>
    <hr />
    <div class="data">
      <i class="icon icon-phone"></i>
      <div class="data-wrapper">
        <span class="mini-title">Születésnap</span>
        <span class="target">1986.01.30.</span>
      </div>
    </div>
  </div>
</section>
