@use '@angular/material' as mat;
@include mat.core();

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/helper';

@import 'base/reset';
@import 'base/typography';
@import 'base/icons';
@import 'base/fonts';

@import 'layout/wrapper';
@import 'layout/grid';

@import 'components/buttons';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
